
 


input

{
    display: block; 
    width: 100%; 
    padding: 10px; 
    margin: 15px 0;
    border-radius: 12px;
    border-color: #505050;
    border-width: 2px;
    border-style: solid;
    background: rgba(255, 255, 255, 0.8) 
}


button 

{
    background-color: #A34C00; 
    color: white; 
    padding: 10px; 
    width: 100%; 
    border: none; 
    cursor: pointer;
    border-radius: 20px; 
} 

button:hover 

{
    background-color: #472100; 
}

body 

{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    
    /* This should change when migrated (background-image) */
    background-image: url("pizza_bg.jpg"); 
    
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 1900px 800px; 
} 

.login-box 

{
    width: 600px;
    height: 400px; 
    padding-top: 10px; 
    padding-bottom: 20px; 
    padding-left: 30px; 
    padding-right: 50px; 
    background: rgba(255, 255, 255, 0.6); 
} 

/* 
h2: Welcome! needs to change serif font
*/

h2

{
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal; 
    font-weight: bold;
    font-size: 30px; 
    text-align: center;  
    margin-bottom: 20px; 
}

a

{
    color: #505050;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#remember

{
    color: #505050;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


